*.idea/
*.iml
*out/
*main
*main.exe
*_W2.ipynb
Lab1_ 4_BTech_Labmanual_DBS_2023.pdf
Practice/
test.sh
Year 3/Semester 5/DL lab/Week 9/images
Year 3/Semester 6/AI lab/practice*

# Python
__pycache__/
.ipynb_checkpoints/
.conda/

# VS 2022
.vs
x64
